/* Base */
body {
    font-family: Verdana,"sans-serif";
    color: #002060;
  }

  section, .promo{
    display: grid;
    place-content: center;
}

/* _________________________________________________________________________ */

.img-promo-3{
    width: 750px;
}
