/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
html * {
  font-family: 'Bree Serif', serif;
}

body {
  /* background-color: #f8f9fa !important; */
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  /* background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); */
  /* background-image: url('../img/v960-ning-19.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}

/* Navbar */
.link {
  position: relative;
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e65454;
  transform: scaleX(0);
  transition: transform .25s;
}

.link::before {
  top: 5px;
  transform-origin: left;
}

.link::after {
  bottom: 3px;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after {
  transform: scaleX(1);
}


/* Carousel */
.pt-carousel {
  padding-top: 76px;
}

.carousel-item img{
  height: 100vh;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

/* Site Setcion */
.site-section {
  padding: 5em 0;
}

.results {
  background-color: #f8f9fa !important;
  margin-top: 3px;
  border-radius: 5px;
  -webkit-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.results:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1) !important;
  font-size: 1.2rem;
}

.img-team img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.card_bg {
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

.card_bg:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75) !important;
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75) !important;
  -webkit-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.thead-background {
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  /* background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); */
}

/* Footer Social Icons*/

.ft ul {
	margin : 0;
	padding : 0;
	text-align : center;
}
.ft ul li {
	list-style : none outside none;
	padding-right : 10px;
	display : inline;
}
.ft ul li a {
	display : inline-block;
	margin : 0 auto;
	padding : 7px 11px;
	text-align : center;
}
.ft ul li a:hover {
  -webkit-transform: scale(1.25); /*Safari y Chrome*/
  -moz-transform:scale(1.25); /*Firefox */
  -ms-transform:scale(1.25); /*Opera*/
  -o-transform:scale(1.25); /*IE 9*/
  transform: scale(1.25);
  transition: all 0.5s ease 0s;
}
.ft ul li a i {
	color : white;
	font-size : 25px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
.ft .pp-facebook:hover i{
  color: #3b5894;
}
.ft .pp-twitter:hover i{
  color: #1da1f2;
}
.ft .pp-instagram:hover i{
  color: #e67135;
}
.ft .pp-google:hover i{
  color: #dd4b39;
}


/* MEDIA QUERIES */

@media (max-width: 767px) {
  .navbar_title {
    font-size: 1.3rem;
  }
}
