:root {
    --colorRedMain: #F8C745;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*generales*/

.color-orange {
    color: orange;
}

body {
    /* font-family: 'Bree Serif', serif; */
    font-family: sans-serif;
}

/*header*/

.containerHerder {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    position: relative;
    z-index: 100;
    background-color: #fff;
    opacity: 0.8;
}

.menuContainer {
    width: 90%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuContainer img {
    width: 15%;
    z-index: 99;
}

.menuContainer img:nth-child(2) {
    width: 10%;
    cursor: pointer;
}

.nav {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 10vh;
    left: -100%;
    background-color: #cacaca;
    transition: all 0.5s ease;
}

.nav-inactivo {
    left: 0;
}

.menu {
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

li {
    width: 100%;
    height: 100%;
    list-style: none;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*hero*/

.hero {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    left: 0;
    background-color: #191D3E;
}

.hero .contaUp {
    width: 100%;
    height: 60%;
    
    background-color: #191D3E;
}

.hero .contaDown {
    width: 100%;
    height: 40%;
    background-color: #fff;
}

.hero .contaUp .containerUp {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0 0 20% 0;
}

.hero .contaUp .containerUp .imgHero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .contaUp .containerUp .imgHero img {
    width: 70%;
}

.hero .contaDown .containerDown {
    width: 100%;
    height: 100%;
    background-color: #191D3E;
    border-radius: 20% 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .contaDown .containerDown .tituloHero {
    width: 70%;
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}
/*resultados*/

.resultados {
    width: 100%;
    height: auto;
}

.containerResult {
    width: 100%;
    height: auto;
    /* background-color: #191D3E; */
    color: #fff;
    padding-top: 60PX;
    border-radius: 0 0 0 20%;
}

.containerResult img {
    display: block;
    width: 25%;
    color: transparent;
    margin: 20px auto;
    border-radius: 20%;
}

.textResult {
    width: 70%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #191D3E;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.containerInfo {
    width: 100%;
    height: auto;
    
    border-radius: 0 20% 0 0;
}

.containerFondo {
    width: 100%;
    height: auto;
    /* background-color: #191D3E; */
}

.Resul {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20% 20% 0 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Resul:nth-child(3) {
    padding-bottom: 60PX;
}

.NameLigue {
    text-align: center;
    padding-bottom: 30px;
}

.contaResul {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(./img/ImgHero/marcador.png); 
    background-position: center;
    background-size: 100% 100%;
    color: #fff;
}

.nombreTeam {
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}


.boxResul {
    width: 100px;
    background-color: #191D3E;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
}

/*Proximos Juegos*/

.proximosJuegos {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 0;
    background-color: #191D3E;
}

.containerProximoJuegos {
    width: 100%;
    height: auto;
    
}

.textProximoJuegos {
    width: 70%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.proximosJuegos img {
    display: block;
    width: 25%;
    color: transparent;
    margin: 20px auto;
    border-radius: 20%;
}

.containerBack {
    width: 100%;
    height: 100%;
    background-color: orange;
}

.containerProxiJuegos {
    margin-top: 60PX;
}

.contaBck2 {
    margin-top: 0;
    background-color: orange;
}

.carProxijuego {
    width: 100%;
    height: 100%;
    border-radius: 0 30% 0 0;
    text-align: center;
    padding: 20px 0;
    line-height: 2rem;
    font-size: 1.2rem;
    background-color: orange;
}

.carBack2 {
    /* background-color: #4F7D6D; */
    background-color: #191D3E;
    color: orange;
}

.carBack2 .carBackLink {
    color: orange;
}

.carBack2 img {
    color: orange;
}

.carProxijuego a {
    text-decoration: none;
    color: #191D3E;
    text-decoration: underline;
    cursor: pointer;
} 

.carProxijuego img {
    display: inline-block;
    width: 7%;
    margin: 0;
}

.contaBack3 {
    width: 100%;
    height: 100%;
    background-color: #191D3E;
    margin-top: 0;
}

/*Galeria Picture*/

.GaleriaPicture, .containerGaleria {
    width: 100%;
    height: auto;
}

.containerGaleria {
    padding-top: 60PX;
}

.textGaleria {
    width: 70%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #191D3E;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 60PX;
}

.picture {
    width: 90%;
    height: 200px;
    margin: 15px auto;
    /* overflow: hidden; */
    border: 1px solid #191D3E;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*footer*/

footer {
    width: 100%;
    height: auto;
    background-color: #343A40;
}

.containerFooter {
    width: 100%;
    height: auto;
}

.containerIcons {
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.containerIcons img {
    width: 20%;
    margin: 10px;
}

.textFooter {
    width: 100%;
    margin-top: 10px;
}

.textFooter p {
    text-align: center;
    padding-bottom: 10px;
    color: #fff;
}




/*mediaqueri*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .header {
        display: flex;
    }
    .nav {
        left: 0;
        top: 0;
        position: relative;
        padding-right: 20px;
        height: 10vh;
    }
    .nav .menu {
        flex-direction: row;
        height: 10vh;
    }
    .nav .menu li {
        height: 25px;
        border-bottom: none;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .menuContainer {
        background-color: #cacaca;
        padding-left: 20px;
    }
    .menuContainer img {
        width: 20%;
    }
    .menuContainer .btnHmaburguesa {
        display: none;
    }

    
  }
