* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 300;
    color: #EAB11F;
}

.texto-blanco {
    font-weight: 700;
    color: #fff;
}

.texto-negro {
	color: #000;
}

/* ──────────────────────────────────────────────────
/   :::::: Opciones Basicas
/ ────────────────────────────────────────────────── */

#fp-nav ul li a span {
    background-color: #EAB11F;
}

#fp-nav ul li .fp-tooltip  {
    color: #EAB11F
}

/* ──────────────────────────────────────────────────
/   :::::: Menu
/ ────────────────────────────────────────────────── */

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}

.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;
    color: #c2c2c2;
    transition: .5s ease
}

.nav li.active {
    border-bottom: 2px solid #EAB11F;
}

.menu li a {
    transition: .5s ease;
    margin: 0;
    padding: 0;
}

.menu li.active a,
.menu li:hover a {
    color: #EAB11F;
}

/* header */

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("/desaDiego/img/hal-gatewood-AzDHa9F9uBY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.header .contenedor-titulo {
    text-align: center;
    position: relative;
    z-index: 99;
}

.header .titulo {
    font-size: 3rem;
    text-transform: uppercase;
}

.header .subtitulo {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
}

.header .contenedor-icono {
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 50%;
    animation: bajar-subir 1s ease infinite;
}

.header .contenedor-icono .icono {
    width: 12%;
    fill: white;
}

.bg-video {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background: #000;
    background-position: center;
    background-size: contain;
    object-fit: cover;

}

@keyframes bajar-subir {
    0% { transform: translateY(20px);}
    25% { transform: translateY(0);}
    100% { transform: translateY(20px);}
}

/* Section Ultimos Resultados*/


.review {
    width: 80%;
    margin: 0 auto;
    padding-top: 10rem;
}
  
.review .review-slider{
    padding-bottom: 2rem; 
}

.review .review-slider .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.review .review-slider .swiper-wrapper .swiper-slide {
    width: 30%;
    margin: 0 10px;
}
  
.review .box{
    padding:2rem;
    text-align: center;
    /* box-shadow: 0 1rem 2rem rgba(0,0,0,.1); */
    /* border-radius: .5rem; */
    /* border: 1px solid rgba(234, 177, 31, 0.300); */
    /* background-color: #fff; */

    background: rgba( 255, 255, 255, 0 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    box-shadow: 0 8px 32px 0 rgb(234, 177, 31, 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
  
.review .box img{
    height:13rem;
    width:13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
  
.review .box h3{
    color:#fff;
    font-size: 1.3rem;
}
  
.review .box p{
    color:#fff;
    font-size: 1rem;
    padding:1rem 0;
}

.review .box .score .textScore {
    width: 30%;
    height: 50px;
    margin:  0 auto;
    background-color: #666;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review .box .score .textScore h4 {
    color: #EAB11F;
}
  
.review .box .stars i{
    color: #F0454E;
    font-size: 1.2rem;
}

/* ──────────────────────────────────────────────────
/   :::::: Ultimos Resultados
/ ────────────────────────────────────────────────── */

.ultimosResultados h1 {
    font-size: 2rem;
    color: #EAB11F;
}

article {
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../desaDiego/img/Lcolegial.jpg");
}


/* ──────────────────────────────────────────────────
/   :::::: Flechas Slide
/ ────────────────────────────────────────────────── */

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    top: 95%;
}

.fp-controlArrow.fp-prev {
    left: 45%;
    border-width: 20px 20px 20px 0;
    border-color: transparent #F0454E transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 45%;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #F0454E;
}





/* ──────────────────────────────────────────────────
/   :::::: Mediaqueris
/ ────────────────────────────────────────────────── */

@media (max-width: 768px) {

    
    /*review*/

    .review {
        padding-top: 1rem;
    }
    .review .review-slider .swiper-wrapper .swiper-slide {
        width: 90%;
        margin: 10px auto;
    } 

    .review .box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .review .box img {
        width: 4rem;
        height: 4rem;
        margin-bottom: 0.5rem;
    }

    /* .review .box .score {
        height: 50px;
    } */

    .review .box .stars {
        display: none;
    }

    .review .box .score .textScore {
        height: 1.5rem;
    }

    .review .box h3 {
        font-size: 1rem;
    }
}


@media (max-width: 425px) {

    .review .review-slider .swiper-wrapper .swiper-slide {
        width: 100%;
    }
 
    .review .box {
        padding: 0;
    }

    .review .box h3 {
        font-size: 0.8rem;
    }

    .review .box .score p {
        font-size: 0.7rem;
    }

    .review .box .score .textScore {
        width: 50%;
    }

    /*flechas ultimos resultados*/

    .fp-controlArrow.fp-prev {
        left: 25%;
        
    }
    
    .fp-controlArrow.fp-next {
        right: 25%;
        
    }
    
    
}

/*color de la franja roja #F0454E */
/*color de la franja amarillla #EAB11F */




